
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: black;
    border: 1px solid black;
}
h4{
    font-size: 18px;
    font-family: 'Tillana', cursive;
}

/* LARGE MOBILE(425 PX) (510px)*/
@media only screen and (min-width: 425px), (max-width: 510px){
    .grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(40, 75px);
    }
        
    .header{
        color: white;
        grid-column: 1/-1;
        grid-row: 1/2;
        background-color: black;
        text-align: center;
        font-size: 30px;
        border-bottom: 2px solid white;
        font-family: 'Inspiration', cursive;
    }
    
    img{ 
        grid-column: 1/-1;
        grid-row: 2/7;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid white;
        align-items: center;
    } 

    .beauty{
        grid-column: 2/5;
        grid-row: 4/5;
        color: white;
        background-color: black;
        text-align: center;
        margin-top: 5%;
        font-size: 25px;
        font-family: 'Dancing Script', cursive;
        height: 50%;
        padding-top: 10px;
    }

     .navContainer{
        grid-column: 1/-1;
        grid-row: 7/8;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        border-bottom: 2px solid black;
    } 

    .navContainer a{
        font-family: 'Tillana', cursive;
        font-size: 14.5px;
        text-decoration: none;
        text-align: center;
        color: white;
        border: 2px solid white;
        padding: .5%;
        width: 100%;
    }

    .navContainer a:hover{
        border: 2px solid white;
        font-family: 'Tillana', cursive;
        font-size: 15px;
        background-color: green;
        text-decoration: none;
        color: black;
    }
    
    .navContainer .active{
        color: black;
        background-color: white;
    }
    
    .enlighten{
        grid-column: 1/-1;
        grid-row: 8/14;
        text-align: center;
        color: white;
        align-items: center;
    }

     .enlighten h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        position: absolute;
        border: 3px solid white;
     }

     .enlighten p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 15%;
        border: 3px solid;
     }

    .participation{
        grid-column: 1/-1;
        grid-row: 13/18;
        text-align: center;
        align-items: center;
        margin-top: 10%;
    }

    .participation h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .participation p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    .about{
        grid-column: 1/-1;
        grid-row: 20/25;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .about h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .about p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    .benefits{
        grid-column: 1/-1;
        grid-row: 26/30;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .benefits h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .benefits p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }
     
    .requirements{
        grid-column: 1/-1;
        grid-row: 30/38;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .requirements h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .requirements p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    footer{
        grid-column: 1/-1;
        grid-row: 40/41;
        border: 3px solid green;
        background-color: white;
        color: green;
    }
}

/* LARGE MOBILE(425 PX) (510px)*/
@media only screen and (min-width: 511px), (max-width: 1108px){
    .grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(40, 75px);
    }
        
    .header{
        color: white;
        grid-column: 1/-1;
        grid-row: 1/2;
        background-color: black;
        text-align: center;
        font-size: 30px;
        border-bottom: 2px solid white;
        font-family: 'Inspiration', cursive;
    }
    
    img{ 
        grid-column: 1/-1;
        grid-row: 2/7;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid white;
        align-items: center;
    } 

    .beauty{
        grid-column: 2/5;
        grid-row: 4/5;
        color: white;
        background-color: black;
        text-align: center;
        margin-top: 5%;
        font-size: 25px;
        font-family: 'Dancing Script', cursive;
        height: 50%;
        padding-top: 10px;
    }

     .navContainer{
        grid-column: 1/-1;
        grid-row: 7/8;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        border-bottom: 2px solid black;
    } 

    .navContainer a{
        font-family: 'Tillana', cursive;
        font-size: 14.5px;
        text-decoration: none;
        text-align: center;
        color: white;
        border: 2px solid white;
        padding: .5%;
        width: 100%;
    }

    .navContainer a:hover{
        border: 2px solid white;
        font-family: 'Tillana', cursive;
        font-size: 15px;
        background-color: green;
        text-decoration: none;
        color: black;
    }
    
    .navContainer .active{
        color: black;
        background-color: white;
    }
    
    .enlighten{
        grid-column: 1/-1;
        grid-row: 8/14;
        text-align: center;
        color: white;
        align-items: center;
    }

     .enlighten h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        position: absolute;
        border: 3px solid white;
     }

     .enlighten p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
     }

    .participation{
        grid-column: 1/-1;
        grid-row: 13/18;
        text-align: center;
        align-items: center;
    }

    .participation h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .participation p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    .about{
        grid-column: 1/-1;
        grid-row: 20/25;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .about h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .about p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    .benefits{
        grid-column: 1/-1;
        grid-row: 26/30;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .benefits h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .benefits p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }
     
    .requirements{
        grid-column: 1/-1;
        grid-row: 31/38;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .requirements h4{
        grid-column: 1/-1;
        padding: 5%;
        background-color: green;
        color: white;
        width: 45%;
        margin-left: 22.5%;
        border: 3px solid white;
        position: absolute;
    }

    .requirements p{
        color: black;
        background-color: white;
        grid-column: 1/-1;
        width: 80%;
        margin-left: 5%;
        padding: 10% 5% 10% 5%;
        margin-top: 10%;
        border: 3px solid;
    }

    footer{
        grid-column: 1/-1;
        grid-row: 40/41;
        border: 3px solid green;
        background-color: white;
        color: green;
    }
}

/* DESKTOP  */
@media only screen and (min-width: 1500px), (max-width: 3000px){
    p{
        font-size: 22px;
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(29, 100px);
        border: 2px solid black;
    }
    
    .header{
        display: grid;
        color: white;
        grid-column: 1/-1;
        grid-row: 1/2;
        background-color: black;
        text-align: center;
        font-size: 35px;
        border-bottom: 5px solid white;
        font-family: 'Inspiration', cursive;
        
    }
    
    img{
        display: grid;
        grid-column: 1/-1;
        grid-row: 2/10;
        border: 2px solid black;
        height: 80%;
        width: 100%;
        top: 12%;
    } 
    
    .beauty{
        display: grid;
        grid-column: 6/11;
        grid-row: 5/6;
        color: white;
        background-color: black;
        font-size: 40px;
        text-align: center;
        font-size: 45px;
        border-radius: 0% 10% 0% 10% 0%;
        font-family: 'Dancing Script', cursive;
        padding-top: 15px;
    }
    
    .navContainer{
        grid-column: 3/14;
        grid-row: 8/9;
        border: 5px solid black;
        background-color: white;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 89px;
        margin-bottom: 40px;
    }
    nav a{
        border: 2px solid white;
        padding: 23px 35px;
        font-family: 'Tillana', cursive;
        font-size: 26px;
        background-color: black;
        text-decoration: none;
        color: white;
    }
    
    nav a:hover{
        border: 2px solid white;
        padding: 23px 35px;
        font-family: 'Tillana', cursive;
        font-size: 26px;
        background-color: green;
        text-decoration: none;
        color: black;
    }
    .active{
        color: black;
        background-color: white;
    }
    
    
    .enlighten{
        background-color: white;
        display: grid;
        grid-column: 2/5;
        grid-row: 9/13;
        text-align: center;
        color: black;
    }
    
    h4{
        font-size: 45px;
        font-family: 'Tillana', cursive;
    }
    
    .border1{
        background-color: green;
        height: 500px;
        width: 1px;
        grid-column:5/6;
        margin-left: 50px;
    }
    
    .border2{
        background-color: green;
        height: 600px;
        width: 1px;
        grid-column:11/12;
        margin-left: 50px;
    }
    
    .border3{
        background-color: green;
        height: 1px;
        width: 100%;
        grid-column:2/15;
        grid-row: 17/17;
    
        
    }
    
    .englighten p{
        background-color: white;
        color: black;
    }
    
    .participation{
        grid-column: 6/11;
        grid-row: 9/15;
        text-align: center;
        color: black;
    }
    
    .benefits{
        grid-column: 3/14;
        grid-row: 17/19;
        text-align: center;
        color: black;
    }
    
     .about{
        grid-column: 12/15;
        grid-row: 9/12;
        color: black;
        text-align: center;
    }
    
    .imgScroll{
        
        grid-column: 1/-1;
        grid-row: 20/30;
    }
    .stackedRocks{
        background-image: url(stacked-rocks.png);
        border: 3px solid black;
    }
    
    .requirements{
        grid-column: 5/12;
        grid-row: 21/21;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    
    footer{
        grid-column: 1/-1;
        grid-row: 29/30;
        background-color: black;
        border: 2px solid black;
    } 
    .fa-brands{
        grid-column: 3/5 ;
        width: 300px;
        height: 100px;
        color: red;
    }
}